/**Table des matières des styles


* Table of Contents:
*
* 1.0 - Repeatable Patterns
* 2.0 - Typography
*   2.1 - Size rem
* 3.0 - Basic Structure
* 4.0 - Header
* 5.0 - Navigation
* 6.0 - Content
*   6.1 - Infos Persos
*   6.2 - Mon travail
*   6.3 - Entry Meta
*   6.4 - Entry Content
*   6.5 - Galleries
*   6.6 - Post Formats
*   6.7 - Post/Image/Paging Navigation
*   6.8 - Attachments
*   6.9 - Archives
*   6.10 - Contributor Page
*   6.11 - 404 Page
*   6.12 - Full-width
*   6.13 - Singular
*   6.14 - Comments
* 7.0 - Sidebar
*   7.1 - Widgets
*   7.2 - Content Sidebar Widgets
* 8.0 - Footer
* 9.0 - Featured Content
* 10.0 - Multisite
* 11.0 - Media Queries
* -----------------------------------------------------------------------------
.ct-off white {
stroke: #F6F4F2 !important; }

.ct-rosewood light {
stroke: #B58988 !important; }

.ct-rosewood grey {
stroke: #AE8C8E !important; }

.ct-purple {
stroke: #805D6F !important; }

.ct-bordeaux {
stroke: #7E3A47 !important; }

/*******************************************/
/********* 1.0 Repeatable Patterns *********/
/*******************************************/
body {
  margin: 0;
  background-color: #f6f4f2;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%237e3a47' fill-opacity='0.35' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}
main {
  background-color: #F6F4F2;
}
section {
  /*height: 100vh;*/
}

.hr-heading {
  max-width: 300px;
  border-top: 1px solid #7E3A47;

}

.content-width {
  max-width: 1000px;
  margin: 0 auto;
}
.flex-article {
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container-list {
  display: flex;
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-top-zero{
  margin-top: 0;
}

.margin-bottom-zero{
  margin-bottom: 0;
}

.side-margin {
  margin-left: 3%;
  margin-right: 3%;
}


.list-default {
  padding-left: 0;
  list-style: none;
  font-weight: 700;
  margin-top: 40px;
}

.text-center{
  text-align: center;
}

.height33 {
  height: 33%;
}


/*******************************************/
/*********     2.0 Typography      *********/
/*******************************************/

/*
font-family: 'Pacifico', cursive;
font-family: 'Cutive', serif;
font-family: 'Hind Siliguri', sans-serif;
*/

.font-content {
  font-family: 'Hind Siliguri', sans-serif;
}


.emphasis-content {
  font-weight: 700;
  color: #B58988;
}

.color-icon {
  color: #805D6F;
}
/*******************************************/
/*********       4.0 Header        *********/
/*******************************************/

header {
  height: 100vh;
}
.font-header {
  font-family: 'Pacifico', cursive;
}
.flex-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 90px;
  padding: 10px 34px 19px 31px;
  color: #7E3A47;
  background: #f6f4f2;
  border: 1px solid #7E3A47;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.presentation {
  color: #7E3A47;
  font-family: 'Cutive', serif;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang:before {
  content: "\f123";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: Ionicons;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.first-link {
  margin-top: 15px;
  text-decoration: none;
  color: #7E3A47;
  font-size: 40px;
  padding-left: 25px;
  margin-top: 40px;
}

/*******************************************/
/*********     5.0 Navigation      *********/
/*******************************************/

.topnav {
  background-color: #7E3A47;
  overflow: hidden;
  position: sticky;
  top: 0px;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Hind Siliguri', sans-serif;
}

.topnav .icon {
  display: none;
}


.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #B58988;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: #7E3A47;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-bottom:active {
  background-color: #B58988;
  color: #7E3A47;
}



/*******************************************/
/*********       6.1 Infos         *********/
/*******************************************/


.profile-pic {
  margin-top: 10vh;
  border-radius: 50%;
  width: 280px;
  /*min-width: 300px;*/
  height: 280px;
  box-shadow: 4px 0px 7px rgba(0, 0, 0, 0.3);

}


.responsive-col {
  width: 50%;
  min-width: 300px;
}

.heading {
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 25px;
  font-family: 'Cutive', serif;
  font-size: 25px;
}

/*******************************************/
/*********     6.2 Mon Travail     *********/
/*******************************************/

.over-heading {
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 0;
  font-family: 'Cutive', serif;
  font-size: 44px;
  color: #AE8C8E;
  background-color: #F6F4F2;

}

.project-heading {
  font-family: 'Cutive', serif;
  margin-bottom: 0;
}

.hr-project-container {
  width: 120px;
  color: #805D6F;
  margin: 0;
}


.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url(./images/placeholder.jpg) center no-repeat;
  width: 330px;
  height: 330px;
  margin-top: 1%;
  margin-bottom: 2%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 6px;
}

.project-button-style {
  color: #F6F4F2;
  background: #805D6F;
  border: none;
  height: 40px;
  width: 90px;
  font-family: 'Hind Siliguri', sans-serif;
  margin-bottom: 10px;
}

.project-button-style:hover {
  color: #805D6F;
  background: #F6F4F2;
}

/*******************************************/
/*********       8.0 Footer        *********/
/*******************************************/
/*footer{
  height: 40vh;
}*/
.footer-bg {
  background: #805D6F;
}

.footer-heading {
  margin-top: 0;
  padding-top: 30px;
  margin-bottom: 0;
  font-family: 'Cutive', serif;
  font-size: 44px;
  color: #F6F4F2;
}

.flex-container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
}


@font-face {
    font-family: 'si';
    src: url('iconsContact/socicon.eot');
    src: url('iconsContact/socicon.eot?#iefix') format('embedded-opentype'),
         url('iconsContact/socicon.woff') format('woff'),
         url('iconsContact/socicon.ttf') format('truetype'),
         url('iconsContact/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(iconsContact/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:20px 0 20px 0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;

}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 39px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    margin-right: 15px;
    margin-left: 15px;
    color: #F6F4F2;
    background-color: #AE8C8E;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);

}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*.soc-icon-last{
    margin:0 !important;
}*/

.soc-mail:before {
    content:'\e01f';
}
.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-github:before {
    content:'\e030';
}
.soc-linkedin:before {
    content:'\e049';
}

.footer-content {
  color: #F6F4F2;
}


/*******************************************/
/*********    11.0 Media Queries   *********/
/*******************************************/

@media screen and (max-width:660px){
  .name{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 75px;
  }

}
